*{
    margin: 0;
    padding: 0;
}



section{
    border: 1px solid;
    display: flex;
    padding: 16px;
    margin: 16px;
    gap: 16px;
    background-color: rgb(255, 150,100);
}

.product{
    border: 1px dotted;
    padding: 8px;


}
